<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web/static/css/style.css">
    <title>Traductor Morse</title>
</head>
<body>
    <div class="container">
        <form class="form">
            <h1 class="title">Traductor Morse</h1>
            <span class="input-span">
                <label for="text" class="label">Texto</label>
                <input type="text" name="text" id="text" placeholder="Escribir el texto aquí"/>
            </span>
            <span class="input-span">
                <label for="morse" class="label">Morse</label>
                <input type="text" name="morse" id="morse" placeholder="Escribir el Morse aquí"/>
            </span><br>
            <input class="reset" type="reset" value="Limpiar">
        </form>
    </div>
</body>
</html>
